@import "var";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
  //   background: url("../img/bg1.jpg");
  background-color: #e0f5f8;
}

.navbar-nav {
  .nav-link {
    color: darkblue;
    .active {
      color: pink !important;
    }
  }
}

.banner {
  padding: 60px 0;
  .iconcircle {
    position: relative;
    top: 18px;
    width: 16%;
    left: 60%;
    height: 80px;
    background: $brand;
    border-radius: 50%;
    color: #eee;
    z-index: 2;
    .fb {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
    .insta {
      position: absolute;
      left: 15px;
      bottom: 15px;
    }
    .lk {
      position: absolute;
      transform: translateX(120%);
    }
  }
  .trusted {
    background: white;
    border-radius: 10px;
    h5 {
      color: $brandf;
    }
  }
}

.about {
  ul {
    padding-left: 0 !important;
    color: $brandf;
    list-style-type: none;
  }
}

.what {
  .card {
    background: aliceblue;
    box-shadow: 3px 3px -1px 5px #ddd;
    border: none !important;
    border-radius: 20px;
    padding: 5px 10px;
    transition: 0.5s;
    &:hover {
      background: white;
      box-shadow: 3px 3px -5px 5px #000;
    }
    h5 {
      color: $brandf;
    }
    .imgBx {
      width: 90px;
      height: 90px;
      background: var(--clr);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        filter: invert(1);
      }
    }
  }
}

.boost {
  .url-mail {
    margin: 20px 0;
    input {
      padding: 10px 15px;
      border: 0;
      outline: 0;
      background: aliceblue;
      box-shadow: 1px 2px 2px 2px rgba(205, 239, 250, 0.56);
    }
    #url {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    #mail {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}

.plan {
  .card {
    h5,
    h6 {
      color: $brandf;
      margin: 20px 0;
      span{font-size: 12px;}
    }
    margin: 20px 0;
    padding: 20px 30px;
    opacity: 0.4;
    border: 2px solid transparent;
    &:hover {
      transform: scale(1.13);
      opacity: 1;
      z-index: 2;
      border: 2px solid $brand;
      transition: all ease-in-out 0.4s;
    }
    ul {
      list-style-type: none;
      padding-left: 0px;
      color: $brandf;
    }
    .imgBx {
      width: 90px;
      height: 90px;
      background: var(--clr);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        filter: invert(1);
      }
    }
  }
}

.success{
    h4{ font-weight: 700;}
    p{color: $brandf;}
    .six{color: #1ccab3;}
    .fortyseven{color: #fb8f46;}
    .fortyfive{color: #6c4df3;}
    .divider{width: 80%;}
    img{height: 380px;}
}

.news-article{
    .bg{background: #eefafa; padding: 50px 0}
    .owl-carousel{
        padding-top: 30px;
        .owl-item {
            opacity: .3;
            .slider{
                background:white;
                border-radius: 20px;
                border: 2px solid transparent;
                transition: all ease-in-out .4s;
                img{border-radius: 20px;}
                p{
                    color: $brand;
                    font-weight: 700;
                    width: 80%;
                    margin: auto;
                    text-align: center;
                }
            }
            &.active {
                &.center  {
                    border-radius: 20px;
                    opacity:1;
                    border: 2px solid $brand;
                }
            }
        }
        .owl-dots button.owl-dot.active span{ background: $brand;}
        }
    }


    

.subscribe {
  input {
    padding: 10px 20px;
    width: 50%;
    border: 0;
    outline: 0;
    border-radius: 50px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px 2px hsl(0deg 0% 98%);
  }
}

footer {
  .outer-part {
    background: #eefafa;
    z-index: 2;
    padding: 50px 50px 10px 50px;
    border-radius: 20px;
  }
  .row {
    border-bottom: 1px solid #ddd;
  }
  h5 {
    color: $brandf;
    font-weight: 700;
  }
  ul li,
  a,
  p {
    color: $brandf;
  }
  .services {
    ul li {
      list-style-type: disclosure-closed;
      &::marker {
        color: $brand;
      }
    }
  }
  .contact {
    ul li {
      list-style-type: none;
    }
  }
  .footer-end {
    ul li,
    a {
      list-style-type: none;
      display: inline;
      color: gray;
      padding: 0 3px;
    }
    padding: 18px;
  }
}
